@page "/Getgallery"
@using FamilyTree_UI.Shared.Component
@inherits LayoutComponentBase
<h1 class="text-center">Present & Past Through Camera Lens</h1>
<link href="css/Getgallery.css" rel="stylesheet" />

<div class="gallery-grid">
    @if (gallerySetupslist != null && gallerySetupslist.Count > 0)
    {
        @foreach (var image in gallerySetupslist)
        {
            <div class="image-card">
                <img src="@image.ImageSrc" alt="@image.PhotoName" class="gallery-image" />
                <button class="image-overlay-button">
                    <p>@ConvertNE.ConvertEToNWithSlash(@image.DateofPhoto)</p>
                    <p>@image.PhotoName</p>
                    <p>@image.Description</p>
                </button>
            </div>
        }
    }
    else
    {
        <p>No Galleries To Show</p>
    }
</div>

