@page "/admin"
@using FamilyTree_UI.Shared.Services
@inject NavigationManager NavigationManager
@inject NavStateService NavStateService
@inject IJSRuntime JS
@if (dashboardview?.Generations != null)
{
    <div class="row">
        @foreach (var generation in dashboardview.Generations.Where(g => !g.Key.Contains("Generation")))
        {
            <div class="col-md-2">
                <div class="card shadow-lg rounded-lg mb-4" style="min-height: 100px; background-color: #f0f8ff;">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold">@generation.Key</h5>
                        <p class="card-text" style="color: #008080; font-size: @(generation.Value is string ? "small" : "xx-large");">
                            @if (generation.Value is string)
                            {
                                @generation.Value.ToString()
                            }
                            else if (generation.Value is int)
                            {
                                @((int)generation.Value)
                            }
                            else
                            {
                                @generation.Value.ToString()
                            }
                        </p>
                    </div>
                </div>
            </div>
        }

        @if (dashboardview?.Generations != null)
        {
            // Filter the dictionary for keys containing "Generation" and show chart for those entries
            var generationData = dashboardview.Generations
            .Where(g => g.Key.Contains("Generation"))
            .ToDictionary(g => g.Key, g => g.Value);

            if (generationData.Any())
            {
                    <div class="col-md-4">
                        <canvas id="myChart" width="50" height="40"></canvas>
                    </div>
            }
        }
        else
        {
            <p>Loading...</p>
        }

    </div>
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
</style>

