@page "/admin"
@using FamilyTree_UI.Shared.Services
@inject NavigationManager NavigationManager
@inject NavStateService NavStateService
@if (dashboardview?.Generations != null)
{
    <div class="row">
        @foreach (var generation in dashboardview.Generations.Where(g => !g.Key.Contains("Generation")))
        {
            <div class="col-md-3">
                <div class="card shadow-lg rounded-lg mb-4" style="min-height: 200px; background-color: #f0f8ff;">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold">@generation.Key</h5>
                        <p class="card-text display-4" style="color: #008080;">
                            @if (generation.Value is string)
                            {
                                @generation.Value.ToString()
                            }
                            else if (generation.Value is int)
                            {
                                @((int)generation.Value)
                            }
                            else
                            {
                                @generation.Value.ToString()
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-3">
            <div class="card shadow-lg rounded-lg mb-4" style="min-height: 200px; background-color: #f8f8ff;">
                <div class="card-body">
                    <h5 class="card-title text-primary font-weight-bold">Generation Type</h5>
                    <table class="table table-striped table-hover">
                        <thead class="thead-light" style="background-color: #e6e6fa;">
                            <tr>
                                <th>Generation</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var generation in dashboardview.Generations.Where(g => g.Key.Contains("Generation")))
                            {
                                <tr>
                                    <td>@generation.Key</td>
                                    <td style="color: #800080;">@generation.Value.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
</style>
<footer class="text-center mt-8 text-sm text-gray-500">
    <p>&copy; 2025 <a href="https://www.sumantandan.com.np" class="text-blue-500 hover:underline" target="_blank">https://www.sumantandan.com.np</a>. All rights reserved.</p>
</footer>
